<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="{% url 'index' %}" class="logo d-flex align-items-center">
      <span class="d-none d-lg-block">TestYourSoft</span>
    </a>
  </div><!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">


      <li class="nav-item dropdown">

        <a class="nav-link nav-item" href="{% url 'login' %}" data-bs-toggle="">
          Log In
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link nav-item" href="{% url 'register' %}" data-bs-toggle="">
          Sign In
        </a>
      </li>
    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
