{% extends "layouts/base.html" %}

{% block content %}
  <h1>{{ project.title }}</h1>


  <h3 class="d-inline-block">Test Runs</h3>
  <a href="{% url 'testrun_create' %}" class="btn btn-primary float-right">Create New Test Run</a>

  <div class="card">
    <div class="card-body">
      <table class="table table-hover">
        <col style="width: 20%">
        <col style="width: 20%">
        <col style="width: 15%">
        <col style="width: 35%">
        <col style="width: 10%">
        <thead>
        <tr>
          <th>Title</th>
          <th>Deadline</th>
          <th>Project</th>
          <th>Progress</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for data in testrun_data %}
          <tr>
            <td><a href="{% url 'testrun_detail' data.testrun.pk %}">{{ data.testrun.title }}</a></td>
            <td>{{ data.testrun.deadline }}</td>
            <td>{{ data.testrun.project.title }}</td>
            <td>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ data.passed_percent }}%"
                     aria-valuenow="{{ data.passed_count }}" aria-valuemin="0"
                     aria-valuemax="{{ data.total_count }}">{{ data.passed_count }}</div>
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ data.failed_percent }}%"
                     aria-valuenow="{{ data.failed_count }}" aria-valuemin="0"
                     aria-valuemax="{{ data.total_count }}">{{ data.failed_count }}</div>
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ data.blocked_percent }}%"
                     aria-valuenow="{{ data.blocked_count }}" aria-valuemin="0"
                     aria-valuemax="{{ data.total_count }}">{{ data.blocked_count }}</div>
                <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ data.untested_percent }}%"
                     aria-valuenow="{{ data.untested_count }}" aria-valuemin="0"
                     aria-valuemax="{{ data.total_count }}">{{ data.untested_count }}</div>
              </div>
            </td>
            <td>
              <a href="{% url 'testrun_update' data.testrun.pk %}" class="">
                <i class="bi bi-pencil-square"></i>
              </a>
              <a class="" href="{% url 'testrun_delete' data.testrun.pk %}">
                <i class="bi bi-trash"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <h3 class="d-inline-block">Test Cases</h3>
  <a href="{% url 'testcase_create' %}" class="btn btn-primary float-right">Create New Test Case</a>
  <div class="card">
    <div class="card-body">
      <table class="table table-hover">
        <col style="width: 10%">
        <col style="width: 20%">
        <col style="width: 20%">
        <col style="width: 20%">
        <col style="width: 10%">
        <col style="width: 10%">
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Steps</th>
          <th>Expected Result</th>
          <th>Priority</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for testcase in testcases %}
          <tr>
            <td><a href="{% url 'testcase_detail' pk=testcase.pk %}">{{ testcase.title }}</a></td>
            <td>{{ testcase.description }}</td>
            <td>{{ testcase.steps }}</td>
            <td>{{ testcase.expected_result }}</td>
            <td>{{ testcase.get_priority_display }}</td>
            <td>
              {#              <a href="{% url 'testcase_update' testcase.pk %}" class="btn btn-sm btn-warning">Edit</a>#}
              {#              <a href="{% url 'testcase_delete' testcase.pk %}" class="btn btn-sm btn-danger">Delete</a>#}

              <a href="{% url 'testcase_update' testcase.pk %}" class="">
                <i class="bi bi-pencil-square"></i>
              </a>
              <a class="" href="{% url 'testcase_delete' testcase.pk %}">
                <i class="bi bi-trash"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
