{% extends 'layouts/base.html' %}

{% block content %}
  <h1 class="d-inline-block">Test Cases</h1>
  <a href="{% url 'testcase_create' %}" class="btn btn-primary float-right">Create New Test Case</a>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">for your projects</h2>
          <div class="table-responsive" style="max-height: 75vh;">
            <table class="table table-hover">
              <col style="width: 30%">
              <col style="width: 20%">
              <col style="width: 30%">
              <col style="width: 20%">
              <thead>
              <tr>
                <th>Title</th>
                <th>Priority</th>
                <th>Project</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for project in projects_created %}
                {% for testcase in testcases %}
                  {% if testcase.project == project %}
                    <tr>
                      <td>
                        <a href="{% url 'testcase_detail' pk=testcase.pk %}">{{ testcase.title }}</a><br>
                      </td>
                      <td>{{ testcase.priority }}</td>
                      <td>{{ testcase.project.title }}</td>
                      <td>
                        <a href="{% url 'testcase_update' testcase.pk %}" class="">
                          <i class="bi bi-pencil-square"></i>
                        </a>
                        <a class="" href="{% url 'testcase_delete' testcase.pk %}">
                          <i class="bi bi-trash"></i>
                        </a>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% empty %}
                <tr>
                  <td colspan="4">You haven't created any projects yet.</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">for shared projects</h2>

          <div class="table-responsive" style="max-height: 75vh;">
            <table class="table table-hover">
              <col style="width: 30%">
              <col style="width: 20%">
              <col style="width: 30%">
              <col style="width: 20%">
              <thead>
              <tr>
                <th>Title</th>
                <th>Priority</th>
                <th>Project</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for project in projects_shared %}
                {% for testcase in testcases %}
                  {% if testcase.project == project %}
                    <tr>
                      <td>
                        <a href="{% url 'testcase_detail' pk=testcase.pk %}">{{ testcase.title }}</a><br>
                      </td>
                      <td>{{ testcase.priority }}</td>
                      <td>{{ testcase.project.title }}</td>
                      <td>
                        <a href="{% url 'testcase_update' project.pk %}" class="">
                          <i class="bi bi-pencil-square"></i>
                        </a>
                        <a class="" href="{% url 'testcase_delete' project.pk %}">
                          <i class="bi bi-trash"></i>
                        </a>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% empty %}
                <tr>
                  <td colspan="4">No projects have been shared with you yet.</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
