{% extends 'layouts/base.html' %}

{% block content %}
  <h1 class="d-inline-block">Test Runs</h1>
  <a href="{% url 'testrun_create' %}" class="btn btn-primary float-right">Create New Test Run</a>
  <table class="table table-bordered table-sm table-compact">
    <col style="width: 20%">
    <col style="width: 20%">
    <col style="width: 15%">
    <col style="width: 30%">
    <col style="width: 15%">
    <thead>
    <tr>
      <th>Title</th>
      <th>Deadline</th>
      <th>Project</th>
      <th>Progress</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for testrun in testruns %}
      <tr>
        <td><a href="{% url 'testrun_detail' testrun.pk %}">{{ testrun.title }}</a></td>
        <td>{{ testrun.deadline }}</td>
        <td>{{ testrun.project.title }}</td>
        <td>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ testrun.passed_percent }}%"
                 aria-valuenow="{{ testrun.passed_count }}" aria-valuemin="0"
                 aria-valuemax="{{ testrun.total_count }}">{{ testrun.passed_count }}</div>
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ testrun.failed_percent }}%"
                 aria-valuenow="{{ testrun.failed_count }}" aria-valuemin="0"
                 aria-valuemax="{{ testrun.total_count }}">{{ testrun.failed_count }}</div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ testrun.blocked_percent }}%"
                 aria-valuenow="{{ testrun.blocked_count }}" aria-valuemin="0"
                 aria-valuemax="{{ testrun.total_count }}">{{ testrun.blocked_count }}</div>
            <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ testrun.skipped_percent }}%"
                 aria-valuenow="{{ testrun.skipped_count }}" aria-valuemin="0"
                 aria-valuemax="{{ testrun.total_count }}">{{ testrun.skipped_count }}</div>
          </div>
        </td>
        <td>
          <a href="{% url 'testrun_update' testrun.pk %}" class="btn btn-sm btn-warning">Edit</a>
          <a href="{% url 'testrun_delete' testrun.pk %}" class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
``
